<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/dist/main.css" />
  <script src="~/dist/main.js"></script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">EventSourced.Net</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        @await Html.PartialAsync("~/Web/Users/Login/_LoginPartial", null, ViewData)
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; 2015 - WebApplication10</p>
    </footer>
  </div>

  @* ReSharper disable Html.TagNotResolved *@
  <!-- <environment names="Development">
    <script src="~/dist/main.js"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="~/dist/main.js"></script>
  </environment> -->
  @* ReSharper restore Html.TagNotResolved *@
  <script>
    var heartbeat = new WebSocket("ws://localhost:3000/heartbeat");
    heartbeat.onopen = function (e) {
      console.log('WebSockets: Heartbeat ' + e.type);
    }
    heartbeat.onmessage = function (message) {
      console.log('WebSockets: ' + message.data);
    }
  </script>

</body>
</html>
