@{
  ViewData["Title"] = "Unable to register";
}

<h2 class="text-danger">@ViewData["Title"].</h2>
<h4>You are already logged in.</h4>

<p>
  If you would like to register a new user account, please log off first.
</p>