@{
  ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form id="register_form" action="/api/register" method="post" class="form-horizontal" role="form">
  <h4>Create a new account.</h4>
  <hr />
  <div class="form-group">
    <div class="col-md-10">
      <label class="control-label sr-only">Email address or phone number</label>
      <input type="text" name="emailOrPhone" class="form-control" placeholder="Email address or phone number" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      <button type="submit" class="btn btn-default">Register</button>
    </div>
  </div>
</form>

@section Scripts {
  @*
    NOTE: this is a terrible way to do client script.
    TODO: replace cshtml & viewcontrollers with redux/react spa.
  *@
  <script>
    $(document).on('ready', function () {
      $('#register_form').find('[name=emailOrPhone]').focus();
      $('#register_form').on('submit', function () {
        var $form = $(this), data = {};
        $form.serializeArray().map(function (x) { data[x.name] = x.value; });
        $form.find('input, button').attr('disabled', 'disabled');
        $.ajax({
          type: 'POST',
          url: $form.attr('action'),
          data: data
        })
          .done(function (data, status, xhr) {
            console.log('POST ' + $form.attr('action') + ' response received.');
            var location = xhr.getResponseHeader('location');
            var correlationUrl = xhr.getResponseHeader("x-correlation-socket");
            var socket = new WebSocket(correlationUrl);
            socket.onopen = function (e) {
              console.log('WebSockets: Correlation ' + e.type);
            }
            socket.onmessage = function (message) {
              console.log('WebSockets: ' + message.data);
              var data = { type: 'unknown' };
              try {
                data = $.parseJSON(message.data);
              } catch (ex) {
                console.log('Message was expected to be json.');
              }
              switch (data.type) {
                case 'ContactEmailChallengePrepared':
                case 'ContactSmsChallengePrepared':
                  window.location = location;
                  break;
                default:
                  console.log('Encountered unexpected data type "' + data.type + '"');
              }
            }
          })
          .fail(function () {
            $form.find('input, button').removeAttr('disabled');
            console.log('POST ' + $form.attr('action') + ' failed.');
          });
        return false;
      });
    });
  </script>
}