@model EventSourced.Net.Web.Users.Register.VerifyViewModel
@{
  ViewData["Title"] = "Verify";
}

<h2>@ViewData["Title"].</h2>

<form id="verify_form" action="/api/register/@Model.CorrelationId" method="post" class="form-horizontal" role="form">
  <h4>Confirm your contact information.</h4>
  <hr />
  <div class="form-group">
    <div class="col-md-10">
      <label class="control-label sr-only">Secret code</label>
      <input type="text" name="code" class="form-control" placeholder="Secret code" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      <button type="submit" class="btn btn-default">Verify</button>
    </div>
  </div>
  <div class="text-danger form-errors">
    <ul></ul>
  </div>
</form>

@section Scripts {
  @*
    NOTE: this is a terrible way to do client script.
    TODO: replace cshtml & viewcontrollers with redux/react spa.
  *@
  @* ReSharper disable FunctionsUsedBeforeDeclared *@
  <script>
    $(document).on('ready', function () {
      var formId = 'verify_form', code = 'code';
      setFocus(formId, code);
      $('#' + formId).on('submit', function () {
        var $form = $(this), data = serializeFormData($form);
        clearValidationErrors($form);
        disableForm($form);
        $.ajax({
          type: 'POST',
          url: $form.attr('action'),
          data: data
        })
          .done(function (response, status, xhr) {
            setLocation(xhr);
          })
          .fail(function (xhr) {
            enableForm($form);
            handleValidationErrors(xhr, $form);
          });
        return false;
      });

      window['validationMessages'] = {
        code: {
          empty: 'Secret code is required.',
          unverified: 'Invalid code. You can try {codeAttemptsRemainingCount} more time(s).',
          maxAttempts: 'You have exceeded the maximum allowable secret code attempts.',
          stateConflict: 'Your code has already been validated. Please use the forward button on your browser and do not navigate back to this page.'
        },
        correlationId: {
          'null': 'Something went wrong. Please restart the registration process.'
        }
      }
    });
  </script>
  @* ReSharper restore FunctionsUsedBeforeDeclared *@
}